h1{
    display: flex;
    color: palegreen;
}

.input{
    display:flex;
    color: palegreen;
    background-color: black;
    height: 30px;
    width: 200px;
    font-size: 25px;
    margin: auto;

}
.search{
    display: flex;
    color:palegreen;
    background-color: blueviolet;
    height: 40px;
    width: 171px;
    font-size: 20px;
    margin: auto;

}
.mainSpirits {
    display: grid;
    background-image: linear-gradient(blueviolet, palegreen);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(auto-fit, minmax(150px, 1fr));
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-size: 30px;
}

@media screen and (max-width: 100px){
    .mainSpirits{
        grid-template-columns: 1fr;
    }
}
h2{
    background-color:palegreen;
    width: 140px;
    border-radius: 35px;
}