h1{
    color: blueviolet;
    text-align: center;
    align-items: center;
}
.input{
    display:flex;
    color: palegreen;
    background-color: black;
    height: 30px;
    width: 200px;
    font-size: 25px;
    margin: auto;

}
.search{
    display: flex;
    color:palegreen;
    background-color: blueviolet;
    height: 40px;
    width: 171px;
    font-size: 20px;
    margin: auto;

}